<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On 
	
	RewriteBase /web/
	
	#RewriteCond %{HTTPS} !on
	#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule perfil/opciones perfil.php [NC,L]
	RewriteRule perfil perfil.php [NC,L]
	RewriteRule portada index.php [NC,L]
	
	

</IfModule>