<IfModule mod_rewrite.c>
	Options -MultiViews
	RewriteEngine On 
	
	RewriteBase /web/
	
	#RewriteCond %{HTTPS} !on
	#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule portada index.php [NC,L]
	RewriteRule perfil perfil.php [NC,L]
	RewriteRule formacion formacion.php [NC,L]
	RewriteRule formacion_permanente formacion.php?m=permanente [NC,L]
	RewriteRule formacion_online formacion.php?m=online [NC,L]
	RewriteRule formacion_historico formacion.php?m=historico [NC,L]
	
	

</IfModule>