<IfModule mod_rewrite.c>
	Options -Indexes
	Options -MultiViews
	RewriteEngine On 
	
	RewriteBase /web/
	
	#RewriteCond %{HTTPS} !on
	#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	
	RewriteRule ^(?!web/)[^/]+/((?:assets|img|backend)/.+)$ /web/$1 [NC,R]
	
	RewriteRule Portada index.php [NC,L]
	RewriteRule Perfil perfil.php [NC,L]
	RewriteRule Contacto contacto.php [NC,L]
	RewriteRule AvisoLegal avisolegal.php [NC,L]
	RewriteRule PoliticaVenta politicaventa.php [NC,L]
	RewriteRule Formacion\/permanente formacion.php?m=permanente [NC,L]
	RewriteRule Formacion\/online formacion.php?m=online [NC,L]
	RewriteRule Formacion_historico formacion.php?m=historico [NC,L]
	RewriteRule Formacion formacion.php [NC,L]
	
	ErrorDocument 403 /web/404.php 
	ErrorDocument 404 /web/404.php 

</IfModule>