/* begin: slideshow */
.slideshow {
position:relative;
margin:0;
padding:0;
}

.slideshow a img {
border:none;
}

.slideshow li.slide {
list-style-type:none;
}

.slideshow .slides {
height:260px;
margin:0;
}

.slideshow .slides li.slide {
visibility:hidden;
position:absolute;
left:0;
top:0;
}

.slideshow .buttons {
display:block;
position:absolute;
z-index:100;
left:10px;
bottom:-15px;
margin:0;
}

.slideshow .buttons li {
float:left;
display:inline;
width:30px;
height:30px;
padding-left:11px;
line-height:30px;
background-image:url(buttonBg.png);
background-repeat:no-repeat;
background-position:100% 50%;
margin:0;
}

.slideshow .buttons li a {
float:left;
text-decoration:none;
width:30px;
height:30px;
color:#fff!important;
outline:0;
font-weight:bolder;
}

.slideshow ul.buttons li a:hover {
text-decoration:none!important;
color:#0a0a0a!important;
}

.slideshow ul.buttons li.active a:hover,.slideshow ul.buttons li.active a {
color:#666;
}

/* end: slideshow */