<? 
include_once "_config.php";
?>

<!-- Owl Clients v1 -->
<div class="headline"><h2>Our Clients</h2></div>
<div class="owl-clients-v1">
	<div class="item">
		<img style="height:90px; width:195px;"  src="<?=$imglogospath?>logo-albacete.png" alt="">
	</div>
	<div class="item">
		<img style="height:90px; width:195px;" src="<?=$imglogospath?>logo-grancanaria.jpg" alt="">
	</div>
	<div class="item">
		<img style="height:90px; width:82px;"  src="<?=$imglogospath?>logo-fuerteventura.jpg" alt="FUERTEVENTURA">
	</div>
	<div class="item">
		<img style="height:90px;" src="<?=$imglogospath?>logo-cantabria.png" alt="FUERTEVENTURA">
	</div>
	<div class="item">
		<img src="<?=$imglogospath?>logo-lugo.jpg" title="LUGO" alt="LUGO">
	</div>
	<div class="item">
		<img src="assets/img/clients4/6.png" alt="">
	</div>
	<div class="item">
		<img src="assets/img/clients4/7.png" alt="">
	</div>
	<div class="item">
		<img src="assets/img/clients4/8.png" alt="">
	</div>
	<div class="item">
		<img src="assets/img/clients4/9.png" alt="">
	</div>
</div>
<!-- End Owl Clients v1 -->